@font-face {
  font-family: 'status';
  src: url('fonts/status.woff');
}

.frame {
  border: 13px solid transparent;
  border-image: url('../images/frame-plane.png') 32 repeat;
  -webkit-border-image: url('../images/frame-plane.png') 32 repeat;
}

.frame-mint {
  @extend .frame;
  border-image: url('../images/frame-mint.png') 32 repeat;
  -webkit-border-image: url('../images/frame-mint.png') 32 repeat;
}

.frame-strawberry {
  @extend .frame;
  border-image: url('../images/frame-strawberry.png') 32 repeat;
  -webkit-border-image: url('../images/frame-strawberry.png') 32 repeat;
}

.frame-inner {
  height: 100%;
  padding: 8px;
  background-color: black;
  color: white;
}
