@font-face {
  font-family: 'fourside';
  src: url('fonts/fourside.woff');
}

.title-wrapper {
  padding: 20px 20px 20px 10px;
}

header {
  .title {
    font-family: 'fourside';
    font-size: 17px;
    padding: 6px 0 0 23px;
    min-height: 32px;
    background-image:
      url('../images/header/balloon-left.png'),
      url('../images/header/balloon-middle.png'),
      url('../images/header/balloon-right.png');
    background-position:
      16px 0,
      40px 0,
      263px 0;
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat;
    a {
      text-decoration: none;
      color: chocolate;
    }
  }
}
