$winters_color: #D8F8F0;
@font-face {
  font-family: 'onett';
  src: url('fonts/onett.woff');
}

@font-face {
  font-family: 'twoson';
  src: url('fonts/twoson.woff');
}

body {
  background-color: #38a8b8;
}

.winters  {
  background-color: $winters_color;
  header {
    min-height: 182px;
    background: url("../images/winters/header.png") repeat-x;
    background-size: 208px;
  }
  .author-wrapper {
    background: url('../images/winters/author-billboard-middle.png');
    background-repeat: repeat-x;
    background-size: 35px 86px;
    a {
      text-decoration: none;
    }
  }
  .author {
    color: antiquewhite;
    height: 86px;
    font-size: 13px;
    font-family: 'onett';
    background:
      url('../images/winters/author-billboard-left.png'),
      url('../images/winters/author-billboard-middle-first.png'),
      url('../images/winters/author-billboard-right.png');
    background-position:
      0 0,
      35px 0,
      right 0;
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat;
    background-size:
      35px 86px,
      35px 86px,
      35px 86px;
    .author-prefix {
      padding: 19px 0 0 20px;
    }
    .author-name {
      padding: 10px 0px 0px 20px;
    }
    .author-image {
      margin: 16px 8px 0 0;
      height: 40px;
    }
  }
  .articles {
    background: url("../images/winters/background-grass.png");
  }
  article {
    color: #333333;
    .article-icon {
      margin-top: 16px;
    }
    .frame-inner {
      font-size: 12px;
      .created-at {
        margin-top: 7px;
        font-size: 90%;
        font-family: status;
      }
    }
    a {
      text-decoration: none;
    }
  }

  .detail {
    h1 {
      color: #22CDDC;
    }
    h2 {
      color: #33DEED;
    }
    h3 {
      color: #44EFFE;
    }
    background: linear-gradient(
      to bottom,
      $winters_color 0%,
      #E9FEF8 7%,
      #E9FEF8 96%,
      $winters_color 100%
    );
    .comment {
      margin-top: 20px;
      .direct-gist-link {
        text-decoration: none;
        margin-right: 10px;
      }
    }
  }

  footer {
    min-height: 351px;
    background: url("../images/winters/footer.png") repeat-x;
    background-size: 380px;
  }
    .credit {
      min-height: 340px;
    }
    .credit-text {
      margin-right: -10px;
      font-family: 'status';
      font-size: 85%;
      color: $winters_color;
    }
    .credit-image {
      margin-bottom: -9px;
    }
}
