$winters_color: #D3FAF1;

body {
  background-color: #00ABBA;
}

.winters  {
  background-color: $winters_color;
  header {
    min-height: 182px;
    background: url("../images/winters/header.png") repeat-x;
    background-size: 208px;
  }
  article {
    .article-icon {
      margin-top: 16px;
    }
    .frame-inner {
      font-size: 12px;
      .created-at {
        margin-top: 7px;
        font-size: 90%;
        font-family: status;
      }
    }
    a {
      text-decoration: none;
    }
  }

  .detail {
    background: linear-gradient(
      to bottom,
      $winters_color 0%,
      #E9FEF8 7%,
      #E9FEF8 96%,
      $winters_color 100%
    );
  }
  footer {
    min-height: 351px;
    background: url("../images/winters/footer.png") repeat-x;
    background-size: 380px;
  }
    .credit {
      min-height: 340px;
    }
    .credit-text {
      margin-right: -10px;
      font-family: 'status';
      font-size: 85%;
      color: $winters_color;
    }
    .credit-image {
      margin-right: -7.5px;
      margin-bottom: -9px;
    }
}
