<div class="winters">
  <div layout-padding>
    <md-grid-list md-cols-sm="2" md-cols-gt-sm="4" md-cols-gt-md="8" md-cols-gt-lg="12" md-row-height-sm="6:7" md-row-height-gt-sm="7:8" md-row-height-gt-md="7:11" md-row-height-gt-lg="7:10">
      <md-grid-tile ng-repeat="article in articles">
        <div ng-show="$first" class="frame-mint">
          <div class="frame-inner">
            <div class="author" layout="column" layout-align="center center">
              <img class="author-image" ng-src="{{article.avatar_url}}}">
              <div class="author-name">{{article.login}}</div>
            </div>
          </div>
        </div>
        <div ng-show="!$first">
          <winters-article gist="{{article}}"></winters-article>
        </div>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
